body{
	background-color: black;
}
.headerImg{
	height: 350px;
	width: 100%;
}
.battleTag{
	width: 100%;
}
h1{
	background-color: black;
	text-align: center;
	color: yellow;
	width: 100%;
	height: 100px;
}
h2 {
	color: green;
}
p{
	font-size: 20px;
}
.playerPic{
	height: 100px;
	width: 100px;
}
.playerSelect {
	margin-bottom: 25px;
}

.char1{

	border: solid black 1px;
	text-align: center;

}
.char2{

	border: solid black 1px;
	text-align: center;

}
.char3{

	border: solid black 1px;
	text-align: center;


}
.char4{

	border: solid black 1px;
	text-align: center;

}

.attackBtn{

	margin: auto;
}

.textContainer{
	margin-top: 20px;
	text-align: center;
}
.main{
	margin: auto;
}
.opp{
	margin: auto;
}
.enemies {
	display: inline-flex;
}